@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: 'Noto Sans KR', sans-serif;
}

@layer components {
  .header-btn {
    @apply flex justify-center items-center;
  }

  .header-link {
    @apply text-button-xs md:text-button-sm lg:text-button-md font-normal text-gray_01 w-32 h-14 leading-[56px] text-center;
  }

  .box-shadow {
    box-shadow: -1px 4px 10px rgba(0, 0, 0, 0.08);
  }

  .btn-white {
    @apply flex items-center justify-center border border-[#DDDDDD] rounded-[8px] bg-white box-border cursor-pointer font-normal;
  }
  .btn-primary {
    @apply flex items-center justify-center rounded-[8px] bg-primary text-white cursor-pointer font-normal;
  }

  .btn-mobile {
    @apply absolute bottom-[90px] w-full;
  }

  .center {
    @apply flex items-center justify-center;
  }

  .modal-box-shadow {
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.08);
  }

  .modal-shape {
    @apply w-[351px] h-[156px] center bg-white rounded-[8px] modal-box-shadow font-medium;
  }

  .swiper-button-next {
    @apply absolute top-1/2 -translate-y-1/2 right-3 z-10 cursor-pointer bg-black/80 flex justify-center items-center w-6 h-6 md:w-12 md:h-12 rounded-full;
    background: rgba(28, 28, 28, 0.2);
  }

  .swiper-button-prev {
    @apply absolute top-1/2 -translate-y-1/2 left-3 z-10 cursor-pointer bg-black/80 flex justify-center items-center w-6 h-6 md:w-12 md:h-12 rounded-full;
    background: rgba(28, 28, 28, 0.2);
  }

  .swiper-pagination {
    @apply text-white w-fit left-[80%] lg:left-1/2 lg:-translate-x-1/2 px-3 md:px-4 md:py-1 rounded-full md:text-xl !important;
    background: rgba(28, 28, 28, 0.2);
  }

  .swiper-slide-1 {
    background: linear-gradient(
        72.34deg,
        #ceeae5 18.01%,
        rgba(250, 251, 211, 0.7) 98.25%,
        rgba(199, 217, 255, 0.2) 98.25%
      ),
      #ffffff;
  }

  .swiper-slide-2 {
    background: linear-gradient(106.95deg, rgba(255, 149, 149, 0.1) 22.1%, rgba(73, 53, 199, 0.16) 68.39%),
      linear-gradient(113.96deg, rgba(21, 19, 145, 0.2) 0%, rgba(4, 0, 203, 0.2) 94.43%), #ffffff;
  }

  .swiper-slide-3 {
    background: linear-gradient(122.1deg, rgba(33, 255, 135, 0.2) 3.36%, rgba(227, 245, 110, 0.04) 91.12%),
      linear-gradient(88.55deg, rgba(210, 224, 236, 0.2) 3.21%, rgba(169, 214, 255, 0.2) 98.77%), #ffffff;
  }

  .modal-open {
    overflow: hidden;
  }
}
